* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 500vh;
  position: relative;
}

.container_custom {
  max-width: 80vw;
  margin: 0 auto;
}

header nav {
  padding: 1.1rem 0.5rem !important;
  background: white;
  border-radius: 100px;
  position: fixed;
  top: 2rem;
  width: 100%;
  padding: 10px;
}
header nav ul {
  margin-left: 1.5rem;
}
header nav ul li {
  margin: 0 0.6rem;
}
header nav ul li a.active {
  font-weight: bold;
  position: relative;
}
header nav ul li a.active::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  transform: translateX(-50%) !important;
  bottom: 0;
  left: 50%;
  background-color: #356dff;
  border-radius: 50%;
  color: #356dff;
}
header nav .navbar-brand img {
  width: 46px !important;
  height: 46px !important;
}
header nav .navbar-brand p {
  margin: 0 0.5rem;
}
header nav .navbar-brand p span:first-child {
  color: #0b0d39;
}
header nav .navbar-brand p span:last-child {
  color: #356dff;
}
header nav .btns {
  margin-left: 2rem;
}
header nav .btns a {
  padding: 1rem 1.3rem;
  border-radius: 10px;
  text-decoration: none;
}
header nav .btns a:first-child {
  border: 2px solid #ececec;
  border-radius: 43px;
  color: #0b0d39;
}
header nav .btns a:last-child {
  background: #0b0d39 0% 0% no-repeat padding-box;
  border-radius: 43px;
  margin-left: 1rem;
  color: #ffffff;
}

main .hero {
  position: relative;
}
main .hero .items {
  display: flex;
  align-items: center;
}
main .hero .items:first-child {
  margin-left: 3rem;
}
main .hero .items .item {
  flex: 1;
}
main .hero .items .item.image-hero {
  position: relative;
}
main .hero .items .item.image-hero img {
  z-index: 2;
}
main .hero .items .item.image-hero .circle {
  position: absolute;
  top: 50%;
  left: 60%;
  right: 0;
  bottom: 0;
  content: "";
  color: rgba(30, 144, 255, 0.4);
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background: rgba(30, 144, 255, 0.4);
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  z-index: -1;
}
main .hero .items .item h1 {
  color: #0b0d39;
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 50px;
}
main .hero .items .item h1 span {
  color: #356dff;
}
main .hero .items .item img {
  width: 100%;
}
main .hero .items .item p {
  color: #0b0d39;
  opacity: 0.6;
  text-align: justify;
}
main .hero .items .item .hero-btns a {
  text-decoration: none !important;
  border-radius: 30px 30px 30px 5px;
  padding: 0.8rem 1.8rem;
  margin: 0.2rem 0.7rem;
}
main .hero .items .item .hero-btns a:first-child {
  color: #fff;
  background: #356dff !important;
}
main .hero .items .item .hero-btns a:last-child {
  border: 2px solid #0b0d39;
  color: #0b0d39;
}
main .hero .orange-big {
  position: absolute;
  bottom: 25%;
  right: 1%;
  content: "";
  background: #f65529;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}
main .hero .orange-small {
  position: absolute;
  top: 12%;
  left: -5%;
  content: "";
  background: #f65529;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
main .hero .pink-medium {
  position: absolute;
  bottom: 1%;
  left: 0%;
  content: "";
  background: #7b53ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
main .hero .yellow-medium {
  position: absolute;
  top: 22%;
  right: 32%;
  content: "";
  background: #ffb300;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: -1;
}
main .testimonial {
  min-height: 50vh;
  background: #f2fbfc;
  width: 80vw;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .testimonial-btn {
  margin-top: 4rem;
}
main .testimonial-btn a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ff9100;
  background-color: #ffe9cc;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
main .testimonial-head {
  margin-top: 2rem;
}
main .testimonial-head h2 {
  color: #0b0d39;
  font-weight: bold;
}
main .testimonial-head h2 span {
  color: #356dff;
  position: relative;
}
main .testimonial-head h2 span img {
  width: 50px;
  height: 50px;
  border: 4px solid #f2fbfc;
  position: absolute;
  border-radius: 50%;
  margin-left: 0.8rem;
}
main .testimonial-head h2 span img:first-child {
  left: 0;
  top: 0;
  z-index: 3;
}
main .testimonial-head h2 span img:nth-child(2) {
  top: 0;
  left: 30px;
  z-index: 2;
}
main .testimonial-head h2 span img:nth-child(3) {
  top: 0;
  left: 60px;
  z-index: 1;
}
main .testimonial .slider-container {
  min-height: 50vh;
  width: 98vw;
}
main .testimonial .slider-container .item {
  background: #fff;
  transform: translateX(-55%);
  padding: 15px;
  margin: 3rem 1rem;
  border-radius: 50px 50px 50px 20px;
}
main .testimonial .slider-container .item .content {
  padding: 1rem;
}
main .testimonial .slider-container .item .content h6 {
  letter-spacing: 0px;
  color: #0b0d39;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}
main .testimonial .slider-container .item .content p {
  letter-spacing: 0px;
  color: #0b0d39;
  opacity: 0.6;
  font-size: 20px;
  text-align: left;
}
main .testimonial .slider-container .item .content .author {
  display: flex;
  align-items: center;
}
main .testimonial .slider-container .item .content .author p {
  margin: 0;
  color: #0b0d39;
  font-size: 20px;
  font-weight: bold;
  opacity: 1;
}
main .testimonial .slider-container .item .content .author span {
  font-size: 16px;
  opacity: 0.5;
  color: #0b0d39;
  font-weight: normal;
}
main .testimonial .slider-container .item .content .author img {
  width: 68px;
  height: 69px;
  margin-right: 1rem;
}
main .testimonial .slider-container .slider_nav {
  margin-bottom: 2rem;
}
main .testimonial .slider-container a.next-slide {
  color: #000 !important;
  background-color: #fff !important;
  padding: 0.7rem 1rem;
  border-radius: 50%;
}
main .testimonial .slider-container a.prev-slide {
  color: #fff !important;
  background-color: #0b0d39 !important;
  padding: 0.7rem 1rem;
  border-radius: 50%;
}

.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
  display: none !important;
}

.dropdown-toggle::after {
  border: none !important;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f107" !important;
  vertical-align: 0;
}

.owl-next:hover,
.owl-prev:hover {
  background: none !important;
}